* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
  color: #1b4332;
}

/* Navigation Bar  */
nav {
  background-color: #081c15;
  padding: 1rem 4rem;
  min-height: 5vh;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}

nav a {
  color: #dda15e;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: rgba(221, 161, 94, 0.2);
  color: #fefae0;
}

/* Home */
section {
  padding: 0 2rem;
}

.welcome {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fefae0;
  background-image: url(images/home.jpg);
  background-size: cover;
}

section h1 {
  font-size: 2rem;
}

section h2 {
  padding-top: 2.5rem;
}

p {
  padding: 0.5rem 0;
}

section ul {
  margin-left: 1rem;
  padding-bottom: 2rem;
}

/* Activity Form & Results */
.activityForm {
  padding: 1rem 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
}

select,
input,
button {
  padding: 0.4rem 0.2rem;
  font-size: 1rem;
  width: 50%;
  margin-bottom: 0.4rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

select {
  background-color: #fefae0;
  color: #081c15;
  border: 1px solid #081c15;
}
input,
button {
  background-color: #40916c;
  color: white;
  border: 1px solid #b7e4c7;
}

button:hover {
  background-color: white;
  color: #40916c;
  border: 1px solid #40916c;
}

.activity-btn {
  margin: 0rem auto;
  margin-top: 2rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.card {
  position: relative;
  width: 12rem;
  height: 14rem;
  margin: 1rem 1rem 0 0;
}

.card,
.card-inner,
.card-front,
.card-back {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in;
  background-color: #dfb07a;
  border: 1px solid #fefae0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.card-inner:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card-front {
  background-image: url(images/forest.jpg);
  background-size: cover;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back {
  overflow-wrap: break-word;
  overflow-y: auto;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card-back span {
  font-weight: bold;
}

/* Footer  */
footer {
  background-color: #081c15;
  padding: 1rem 2rem;
  color: #dda15e;
  margin-top: auto;
}

/* Media Query  */
@media screen and (max-width: 600px) {
  body {
  }

  nav {
    padding: 1rem 0.8rem;
  }

  nav a {
    padding: 1rem 0.4rem;
  }

  select,
  input {
    width: 100%;
  }
}
