* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar  */
nav {
  background-color: #283618;
  padding: 1rem 4rem;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}

nav a {
  color: #dda15e;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: rgba(221, 161, 94, 0.2);
  color: #fefae0;
}

/* Footer  */
footer {
  background-color: #283618;
  padding: 1rem 2rem;
  color: #dda15e;
  margin-top: auto;
}

/* Media Query  */
@media screen and (max-width: 600px) {
  body {
  }

  nav {
    padding: 1rem 0.8rem;
  }

  nav a {
    padding: 1rem 0.4rem;
  }
}
